@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #48BF85;
  --color-primary-dark: #194831;
  --color-grey-light: #E9E9E9;
  --color-grey: #A7A7A8;
  --color-white: #FFFFFF;
  --color-black: #11082E;
  --font-heading: 'Bebas Neue', serif;
  --font-body: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}
