.homepage {
  background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-white) 43%);
}

.homepage__input {
  border: 2px solid var(--color-black);
}

.homepage__text {
  font-family: var(--font-heading);
  font-size: 40px;
  color: var(--color-primary-dark);
}

.homepage__img {
  position: relative;
}

.homepage__suggestionsDivider {
  background-color: var(--color-grey-light);
  height: 1px;
}